<ion-content padding>
  <ion-slides pager>

    <ion-slide style="background-color: green">
      <p>Seja bem vindo ao Food-Routine, você pode montar sua rotina alimentar com o auxílio de um profissional sem perder a flexibilidade.</p>
    </ion-slide>
  
    <ion-slide style="background-color: orange">
      <p>Tudo de forma simples e confortável, alguns cliques e já está feito sua rotina alimentar ideal.</p>
    </ion-slide>
  
    <ion-slide style="background-color: green">
      <p>Nunca foi tão fácil ser saúdavel de maneira flexível, então oquê você está esperando agora ?</p>
    </ion-slide>
  
  </ion-slides>

  <ion-grid>
    <ion-col size-md="3" offset-md="3" class="gridUm">
      <div>
        <a href="tabs/tab1">Continuar</a>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>

